@font-face{
    font-family:"quentin2";
    src:url(assets/Quentin.otf)
}
*{
    margin: 0;
    padding:0;
}


body { 
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr {
    /*border-color: white;*/
    border-style:none;
    border-top-style:none;
}

h3{
    color: whitesmoke;
    font-size: 2.5rem;
}
h3:hover{
    color:black;
}

p1{
    color:whitesmoke;
}

a{
    width:40px;
    height:40px;
    color:black;
}
h1{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    border-style: inset;
    border: 2px;
    border-color: black;
}

h2{
    color:azure;
}

nav{
    display: inline-block;
    position: absolute;
    top:9%;
    left: 6%;
}

/*class selectors*/


.bg-vid{
    position: fixed;

}

    
.mylogo{
    width:80px;
    height:80px;
    position: fixed;
    
}

.logos{
    position:fixed;
    right:7%;
    padding-top:1%;
    

}
.links{
    height:25;
    width:25;
    display:inline-block;
    padding-left:50px;
}

.links:hover{
    transform:scale(1.2);
    
}

.extra{
    font-size:1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold italic;
}


.nameheader{
    font-size: 8rem;
    
}
.name{
    font-family:'Quentin', 'quentin2','Arizonia', cursive;
    font-size: 7rem;
}
.lastname{
    padding-left: 50%;
}
.main{
    display: inline-block;
    text-align: center;
    position: relative;
    right:5%;
    top:5%;
    
}
.frontcontainer{
    width:100%;
    height: 100vh;
    position: absolute;
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

.profile{
    display: inline-block;
    height:20em;
    width:20em;
    position: absolute;
    right:14%;
    top:18%;
}


.bold{
    font-style:bold;
}

/* id selsctors*/

#noob{
    color:rgb(70, 16, 16);
}
#noob:hover{
    color:black;
}


@media (min-aspect-ratio:16/9){
    .bg-vid{
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .bg-vid{
        width:auto;
        height: 100%;
    }
}
@media only screen and (max-width: 600px){
    .name{
        font-size: 5rem;
    }
    .nameheader{
        font-size: 6rem;
    }
    .bg-vid{
        width: cover;
        height: cover;
    }
    .main{
        padding-left: 5%;
        padding-right: 5%;
        top:1%;
    }
    body{
        width:100%
    }
    .mylogo{
        width:60px;
        height:60px;   
    }
    .links{
        height:20;
        width:20;
        padding-left:20px;
        padding-top: 2%;
    }
    .lastname{
        padding-left: 20%;
    }
    
    .cc-reference {
        float: none;
        display: block; /* making it block level allows you to... */
        margin: -8px auto 0; /* center automatically */
    }
    html,body{
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
