@font-face{
    font-family:"quentin";
    src:url(assets/Quentin.otf)
}
*{
    margin: 0;
    padding:0;
}


body { 
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    position: relative;
}
hr {
    /*border-color: white;*/
    border-style:none;
    border-top-style:none;
}

h3{
    color: whitesmoke;
    font-size: 2.5rem;
}




a{
    width:40px;
    height:40px;
    color:black;
}
h1{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    border-style: inset;
    border: 2px;
    border-color: black;
}





/*class selectors*/


.bg-vid{
    position: fixed;
    display: flex;
    z-index: -1;
    


}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    top:6%;
    padding-left: 7%;
    padding-right: 7%;
    

}    
.mylogo{
    width:80px;
    height:80px;
    padding-top: 1rem;    
}

.logos{
    padding-right: 3rem;

    
}
.links{
    height:25;
    width:25;
    display:inline-block;
    padding-left:50px;
}

.links:hover{
    transform:scale(1.2);
    
}

.extra{
    font-size:1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold italic;
}


.nameheader{
    font-size: 8rem;   
}

.name{
    font-family:'quentin','Arizonia', cursive;
    font-size: 7rem;
}
.lastname{
    padding-left: 50%;
}
.main{
    display: inline-block;
    text-align: center;
    position: relative;
    top:14%;
    right:5%;
    padding-left: 2%;
    padding-right: 2%;
    
}
.frontcontainer{
    width:100%;
    height: 100vh;
    display: block; 
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.profile{
    display: inline-block;
    height:20em;
    width:20em;
    position: absolute;
    right:14%;
    top:18%;
}


.bold{
    font-style:bold;
}

/* id selsctors*/

#noob{
    color:rgb(70, 16, 16);
}
#noob:hover{
    color:black;
}




.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
    position: relative;
    text-align: center;
    
    display: flex;
    align-items:center;
	justify-content: center;

}
.about img{
	height: auto;
	width: 350px;
}
.about-text{
	width: 550px;
    
}
.main2{
	width:90%;
	max-width: 95%;
	margin: 0 auto;
    display: flex;
	text-align: center;
	align-items:center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:transparent;
	color: white;
	text-decoration: none;
    border: 2px solid #f9004d;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: #f9004d;
	border: 2px solid transparent;
	cursor: pointer;
}
.connect{
    display: block;
    position: relative;
    width: 100%;
	margin-top:8rem;
	background-color: #191919;
    
}
.container{
	max-width: 80%;
	margin: 0 auto;
	display: flex;
    align-items: center;
    
	justify-content: center;

}
.connect-text{
	width: 550px;
}
.connect h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
#col{
    color:#fcfc;
}
.message{
    padding-top: 70px;
    
    display: inline-block;
    padding-bottom: 70px;
    /* position: relative;
    right:25%; */


}
.form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:2rem;
    display: inline-block;
}
input[type=text] {
    border-radius: 30px;
    border: 1px solid grey;
    border-radius: 4px;
    height: 6%;
    width:50%;
    margin-bottom: 3%;
    padding: 15px 15px ;
    background:transparent;
    color:white;
  }
  
input[type=email] {
    border-radius: 30px;
    border: 1px solid grey;
    border-radius: 4px;
    height: 6%;
    width:50%;
    margin-bottom: 3%;
    padding: 15px 15px ;
    background:transparent;
    color:white;
 }
  textarea {
    border-radius: 30px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 1%;
    
    padding: 15px 15px ;
    background:transparent;
    color:white;
 }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fcfc;
    opacity: 1; /* Firefox */
}

  input[type=submit]{
    background-color:transparent;
	color: white;
	text-decoration: none;
    border: 2px solid #f9004d;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
    margin-top: 4%;
  }
  input[type=submit]:hover{
	background-color: #f9004d;
	border: 2px solid transparent;
	cursor: pointer;
  }
  
  .enquiry{
    line-height: 60px;
    border: white;
    
    /* position: absolute;
    right:5%;
    bottom:40%; */
    width: 80%;
    
    margin-bottom: 6%;
    margin-left: 10%;
  }
  .enquiry span{
    color:azure;
    color: white;
	letter-spacing: 2px;
	font-size: 25px;
	margin-bottom:10px;
	
  }
  .enmail{
    color: #fcfc;
    font-size: 1.3rem;
  }

footer{
    position: relative;
    width: 100%;
	margin-top:8rem;
	background-color: #191919;
    text-align: center;
  }
.foot{
    padding-top:1.5%;
    padding-bottom: 1.5%;
  
}
  
.foot img{
    height:25;
    width:25;
       
}
.text1{
    color:whitesmoke;
}
p2{
    color: white;
    position: relative;
}

.footimg{
    position: relative;
    top:7px;
    padding-right: 2px;
}

@media (min-aspect-ratio:16/9){
    .bg-vid{
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .bg-vid{
        width:auto;
        height: 100%;
    }
}

@media (max-width:1010px){
    .name{
        color: #f9004d;
        font-size: 100px;
    }
    .main2{
        flex-direction: column;
    }
    .about-text{
        max-width: 80%;
          
    }
    .about-text h2{
        padding-top: 20px;
    }
    .container{
        flex-direction: column;
        max-width: 80%;
        align-items: center;
        text-align:center;
        justify-content: center;
    }
    textarea{
        width: 90%;
    }
    .enquiry{
        width: 80%;
        margin-left: 0;
        display: flex;
        position: relative;
        right:9%;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        
    }
    .message{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

@media(max-width:511px){
    .bg-vid{
        width:auto;
        height: 100%;
    }
    .logos{
        display: none;
    }
    .mylogo{
        position: absolute;
        right: 8%;
        top:0.8%;
    }
    .main{
        display: inline-block;
        text-align: center;
        position: relative;
        top:30%;
        right:7%;
        padding-right: 5%;
        padding-left: 2%;

    }
    .name{
        color:whitesmoke;
        font-size: 60px;
    }
    .lastname{
        padding-left: 30%;
    }

    .about{
        padding: 60px 0 ;
    }
    .about img{
        width:270px;
        height: auto;
    }
    .main2{
        flex-direction: column;
    }
    .about-text{
        max-width: 80%;
          
    }
    .about-text h2{
        font-size:2.6em;
        padding-top: 20px;
    }
    .about-text p{
        text-align: left;
    }
    .container{
        flex-direction: column;
        max-width: 80%;
        align-items: center;
        
        text-align:center;
        padding-right: 1rem;
        padding-left: 1rem;
        
    }
    textarea{
        width: 90%;
    }
    .enquiry{
        width: 90%;
        margin-left: 2px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        line-height: 40px;
        
    }
    
    .message{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .connect h2{
        font-size:2.6em ;
    }
    .about-text h5{
        font-size:1.3em;
    }
    h3{
        font-size: 1.5em;

    }
    .enquiry span{
        font-size: 1.3em;

    }
    .enmail{
        font-size: 0.8em;

    }


}